<div class ="container">
  <div class="row">
    <div class="col border-bottom mt-5">
          <h2>ユーザー</h2>
    </div>
   </div>
    <div class="row">
        <% @customers.each do |customer| %>
          <% unless customer == current_customer %>
            <div class="col-sm-6 mt-3">
                <div class="card-body mx-auto shadow-sm" style="background-color:#EEEEEE;">
                  <div class="row">
                    <div class="col-2">
                      <%= link_to customer_path(customer) do %>
                        <%= image_tag customer.get_profile_image(70,70), class: "rounded-circle border border-secondary" %>
                      <% end %>
                    </div>
                    <div class="col-9 ml-3">
                      <%= link_to customer_path(customer) do %>
                        <h4><%= customer.name %></h4>
                      <% end %>
                      <div id="follow-counter<%= customer.id %>">
                        <%= render 'public/follows/follow_counter', customer: customer %>
                      </div>
                      <div id="follows<%= customer.id %>">
                        <%= render 'public/follows/follow', customer: customer %>
                      </div>
                    </div>
                  </div>
                </div>
             </div>
          <% end %>  
        <% end %> 
    </div>
    <div class="mt-5">
      <%= paginate @customers %>
    </div>
  </div>
</div>