<div class ="container">
  <div class="row">
    <div class="col border-bottom mt-3">
          <h2>ユーザー</h2>
    </div>
    <div class="row">
        <% @customers.each do |customer| %>
        <div class="col-sm-6 mt-3">
            <div class="card-body mx-auto shadow-sm" style="background-color:#EEEEEE;">
              <div class="row">
                <div class="col-2">
                  <%= link_to customer_path(customer) do %>
                    <%= image_tag customer.get_profile_image(70,70), class: "rounded-circle border border-secondary" %>
                  <% end %>
                </div>
                <div class="col-9 ml-3">
                  <h4><%= customer.name %></h4>
                  <%= link_to customer_followings_path(customer) do %>
                    <strong><%= customer.followings.count %></strong>フォロー
                  <% end %>
                  <%= link_to customer_followers_path(customer) do %>
                    <strong class="ml-3"><%= customer.followers.count %></strong>フォロワー
                  <% end %>
                  <%= render 'public/follows/follow', customer: customer %>
                </div>
              </div>
            </div>
         </div>
        <% end %> 
    </div>
  </div>
</div>