<table>
  <tbody>
    <% photo.photo_comments.each do |photo_comment| %>
      <tr>
        <td>
          <%= link_to customer_path(photo_comment.customer) do %>
            <%= image_tag photo_comment.customer.get_profile_image(90,90) %><br>
            <%= photo_comment.customer.name %>
          <% end %>
        </td>
        <td><%= photo_comment.photo_comment %></td>
        <td>
          <% if photo_comment.customer == current_customer %>
            <%= link_to "Destroy", photo_photo_comment_path(photo, photo_comment), method: :delete, class: "btn btn-danger pull-right" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>