<div class="container">
  <div class="row">
    <div class="col">
      <%= render 'layouts/error_messages', obj: @photo %>
      <%= form_with model:@photo do |f| %>
      <div class="form-group">
        <%= f.label :"写真をアップロード" %>
        <div>
          <%= f.file_field :image, accept: "image/*" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :name, "写真タイトル" %>
        <div>
          <%= f.text_field :name, class:"form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div><%= f.label :body, "写真の本文" %></div>
        <div><%= f.text_area :body, class:"form-control" %></div>
      </div>
      <%= f.label :category, "カテゴリ" %>
      <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
        <%= category.label do %>
          <%=category.check_box %>
          <%=category.text %>
        <% end %>
      <% end %>
      <%= f.submit '投稿する' %>
      <% end %>

    </div>
  </div>
</div>