<div class="text-center">
<%= render partial: 'layouts/flash' %>
</div>
<div class="container">
  <div class="row">
    <div class="col-10 mx-auto mt-3">
      <div class="border-bottom border-4">
        <h4><%= @photo.name %></h4>
        <% if @photo.customer == current_customer %>
          <%= link_to "編集", edit_photo_path(@photo), class: "btn btn-success btn-sm" %>
          <%= link_to "削除", photo_path(@photo), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger btn-sm" %>
        <% end %>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-10 mx-auto mt-3">

        <%= image_tag @photo.image, width: '100%', height: '100%' %>
    </div>
  </div>
  <div class="row">
    <div class="col mt-3">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-3 col-md-1">
              <%= link_to customer_path(@photo.customer) do %>
                <%= image_tag @photo.customer.get_profile_image(80,80), class: "rounded-circle border border-secondary" %>
              <% end %>
            </div>
            <div class="col-9">
              <%= link_to customer_path(@photo.customer) do %>
              <h4 style="margin-right : 10px"><strong><%= @photo.customer.name %></strong></h4>
              <% end %>
              投稿日:<%= @photo.created_at.strftime('%Y/%m/%d %H:%M') %><br>
              <div class="row">
                <div class="col-0 mr-3 ml-4">
                  <div id ="favorites<%= @photo.id %>">
                    <%= render 'public/favorites/favorites', photo: @photo  %>
                  </div>
                </div>
                <div class="col-0">
                  <div id="comments-counter">
                    <%= render 'public/photo_comments/comments_counter', photo: @photo %>
                  </div>
                </div>
                <div class="col-10">
                  <% if @photo.customer == current_customer %>
                  <% else %>
                  <div id="follows<%= @photo.customer.id %>">
                    <%= render 'public/follows/follow', customer: @photo.customer %>
                    <%= link_to "ユーザーを通報", new_customer_report_path(@photo.customer), class: "ml-5 btn btn-outline-secondary btn-sm" %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" style="height: 400px;">
          <%= @photo.body %>
        </div>
        <div class="card-footer">
          <%= render 'public/photo_comments/form_comment', photo: @photo, photo_comment: @photo_comment %>
          <div class="photo-comments-index">
            <%= render 'public/photo_comments/index_comments', photo: @photo %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
