<div class="container">
  <div class="row">
    <div class="col-10 mx-auto mt-3">
      <div class="border-bottom border-4">
        <h4><%= @photo.name %></h4>
        
          <%= link_to "削除", photo_path(@photo), method: :delete, class: "btn btn-danger btn-sm" %>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-10 mx-auto mt-3">

        <%= image_tag @photo.image, width: '100%', height: '100%' %>
    </div>
  </div>
  <div class="row">
    <div class="col mt-3">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-1">
              <%= link_to customer_path(@photo.customer) do %>
                <%= image_tag @photo.customer.get_profile_image(80,80), class: "rounded-circle border border-secondary" %>
              <% end %>
            </div>
            <div class="col-11">
              <%= link_to customer_path(@photo.customer) do %>
              <h4 style="margin-right : 10px"><strong><%= @photo.customer.name %></strong></h4>
              <% end %>
              投稿日:<%= @photo.created_at.strftime('%Y/%m/%d %H:%M') %><br>
              <div class="row">
                <div class="col-1">
                  <i class="fa-regular fa-heart"></i>
                  <%= @photo.favorites.count %>
                </div>
                <div class="col-0">
                  <i class="fa-regular fa-comment"></i>
                  <%= @photo.photo_comments.count %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" style="height: 400px;">
          <%= @photo.body %>
        </div>
        <div class="card-footer">
          <div class="photo-comments-index">
            <%= render 'admin/photo_comments/index_comments', photo: @photo %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
