<div class="col-1 mb-3">
    <%= image_tag customer.get_profile_image(90,90), class: "rounded-circle border border-secondary" %>
</div>

<div class="col-4 mb-2 ml-3">
  <table class="table">
    <tbody>
      <tr>
        <h2><%= customer.name %></h2>
      </tr>
      <tr>
        <%= link_to "お気に入り", favorites_admin_customer_path(customer), class: "btn btn-danger btn-sm mb-2" %>
      </tr>
      <tr>
        <div class="mb-2">
          <%= link_to admin_customer_followings_path(customer) do %>
            <strong><%= customer.followings.count %></strong>フォロー
          <% end %>
          <%= link_to admin_customer_followers_path(customer) do %>
            <strong class="ml-3"><%= customer.followers.count %></strong>フォロワー
          <% end %>
        </div>
        会員ステータス:
        <% if customer.is_deleted == false %>
          有効
        <% else %>
          退会/退会日:<%= customer.updated_at.strftime('%Y/%m/%d %H:%M') %>
        <% end %>
      </tr>
      <br>
      <tr>
        <%= link_to "プロフィール編集", edit_admin_customer_path(customer), class: "btn btn-success btn-sm mt-2" %>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-6 border-left mb-3">
  <strong>自己紹介</strong>
  <p class="text-break">
    <%= customer.introduction %>
  </p>
</div>

