<div class="container">
  <div class="row">
    <div class="col-7 mx-auto mt-3">
      <h4 class="py-4 border-bottom">プロフィール編集</h4>
      <%= render 'layouts/error_messages', obj: @customer %>
      <%= form_with model: @customer, url: admin_customer_path(@customer), method: :PATCH do |f| %>
          <div class="form-group text-left">
            <%= f.label :profile_image, "プロフィール画像" %><br>
            <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
          </div>
          <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user"></i>
              </span>
            </div>
              <%= f.text_field :name, placeholder: "ニックネーム", autofocus: true, autocomplete: "name", class:"form-control" %>
          </div>
          <div class="input-group mb-3 mt-3">
            
              <%= f.text_area :introduction, placeholder: "自己紹介",rows: 4,  autofocus: true, autocomplete: "name", class:"form-control" %>
          </div>
            <%= f.label :会員ステータス %>
            <%= f.radio_button :is_deleted, :false %>
            <%= f.label :is_deleted, "有効" %>
            <%= f.radio_button :is_deleted, :true %>
            <%= f.label :is_deleted, "退会" %> <br>
      <%= f.submit '変更する', class:"btn btn-success  btn-sm" %>
      <% end %>
      <div class="text-right">
        <%= link_to "会員削除",admin_customer_path(@customer.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-sm text-right" %>
      </div>
    </div>
  </div>
</div>