<div class="text-center">
<%= render partial: 'layouts/flash' %>
</div>
<div class ="container">
  <div class="row">
    <div class="col border-bottom mt-5">
          <h2>ユーザー<%= link_to "通報一覧", admin_reports_path, class: "btn btn-sm btn-outline-secondary ml-5" %></h2>
          
    </div>
  </div>
  <div class="row">
    <% @customers.each do |customer| %>
      <div class="col-sm-6 mt-2">
        <% if customer.is_deleted == false %>
          <div class="card-body mx-auto shadow-sm" style="background-color:#EEEEEE;">
        <% else %>
          <div class="card-body mx-auto shadow-sm" style="background-color:#FF6666;">
        <% end %>
            <div class="row">
              <div class="col-2">
                <%= link_to admin_customer_path(customer) do %>
                  <%= image_tag customer.get_profile_image(70,70), class: "rounded-circle border border-secondary" %>
                <% end %>
              </div>
              <div class="col-9 ml-2">
                <%= link_to admin_customer_path(customer) do %>
                  <h4><%= customer.name %></h4>
                <% end %>
                <div class="mb-2">
                  <strong><%= customer.followings.count %></strong>フォロー
                  <strong class="ml-3"><%= customer.followers.count %></strong>フォロワー
                  <%= link_to "編集", edit_admin_customer_path(customer), customer: customer %>
                </div>
                会員ステータス：
                <% if customer.is_deleted == false %>
                  有効
                <% else %>
                  退会/退会日:<%= customer.updated_at.strftime('%Y/%m/%d %H:%M') %>
                <% end %>
              </div>
            </div>
          </div>
       </div>
    <% end %> 
    </div>
    <div class="mt-5">
      <%= paginate @customers %>
    </div>
  </div>
</div>