<% if customers.exists? %>
  <% customers.each do |customer| %>
  <div class="col-sm-4 mt-3">
    <div class="card-body mx-auto shadow">
      <div class="row">
        <div class="col-2">
          <%= image_tag customer.get_profile_image(70,70), class: "rounded-circle border border-secondary" %>
        </div>
        <div class="col-9 ml-3">
          <%= customer.name %>
          <%= render 'public/follows/follow', customer: customer %>
          フォロー数: <%= user.followings.count %>
          フォロワー数: <%= customer.followers.count %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>