<div class ="container">
  <div class="row">
    <div class="col mt-3">
      <div class="row border-bottom">
        <div class="col-1 mb-3">
          <%= link_to customer_path(@customer) do %>
          <%= image_tag @customer.get_profile_image(90,90), class: "rounded-circle border border-secondary" %>
          <% end %>
        </div>
        <div class="col-10 mb-3 ml-3">
          <h2><%= @customer.name %></h2><br>
          <%= link_to customer_followings_path(@customer) do %>
          <strong><%= @customer.followings.count %></strong>フォロー
          <% end %>
          <%= link_to customer_followers_path(@customer) do %>
          <strong class="ml-3"><%= @customer.followers.count %></strong>フォロワー
          <% end %>
          <% if @customer == current_customer %>
            <%= link_to "プロフィール編集", edit_customer_path(current_customer), class: "btn btn-success btn-sm ml-3" %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <%= render 'public/follows/follow_list', customers: @customers %>
      </div>
    </div>
  </div>
</div>
