<div class="text-center">
<%= render partial: 'layouts/flash', class: "text-center" %>
</div>
<div class="container">
  <div class="row">
    <div class="col mt-5 border-bottom">
      <h3>カテゴリー</h3>
    </div>
  </div>
  <div class="row">
    <% @categories.each do |category| %>
    <div class="col-sm-3 mt-3">
      <div class="card mx-auto shadow">
        <%= link_to admin_category_path(category) do %>
        <%= image_tag category.get_image, width: '100%', height: '190px' %>
        <% end %>
        <div class="card-body">
          <div>
            <h5><%= category.name %></h5>
            投稿数: <%= category.photos.count %>
          </div>
            <div class="text-right">
              <%= link_to '編集', edit_admin_category_path(category), class: "btn btn-success btn-sm" %>
              <%= link_to "削除", admin_category_path(category), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger btn-sm" %>
            </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>