<!DOCTYPE html>
<html>
  <head>
    <title>Photocomyu2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border border-bottom">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/"><span><%= image_tag 'logo.jpg', width: '150px', height: '120px' %> </span></a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="header-container">
            <% if admin_signed_in? %>
              <%= render 'admin/searches/search' %>
            <% else %>
              <%= render 'public/searches/search' %>
            <% end %>
            
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <div class="row">
              <ul class="navbar-nav ml-auto">
                <% if admin_signed_in? %>
  
                <li class="mr-2">
                  <%= link_to admin_photos_path, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                  投稿一覧
                  <% end %>
                </li>
                <li class="mr-2">
                  <%= link_to admin_customers_path, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                  ユーザー
                  <% end %>
                </li>
                <li class="mr-2">
                  <%= link_to admin_reports_path, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                  通報一覧
                  <% end %>
                </li>
                <li class="mr-2">
                  <%= link_to admin_categories_path, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                  カテゴリー
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                  管理者ログアウト
                  <% end %>
                </li>
  
                
                <% else %>
                <% if customer_signed_in? %>
                <!-- <div class="row"> -->
                <li class="mr-2">
                  <%= link_to customer_path(current_customer.id), class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                  マイページ
                  <% end %>
        S        </li>
                
                <li class="mr-2">
                  <%= link_to customers_path, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                  ユーザー
                  <% end %>
                </li>
                <li class="mr-2">
                  <%= link_to photos_path, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                  投稿一覧
                  <% end %>
                </li>
                <li class="mr-2">
                  <%= link_to categories_path, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                  カテゴリー
                  <% end %>
                </li>
  
                <li class="mr-2">
                  <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                  ログアウト
                  <% end %>
                </li>
                
                <% else %>
                <li class="mr-2">
                  <%= link_to new_customer_registration_path, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                　新規登録
                  <% end %>
                </li>
                <li class="mr-2">
                  <%= link_to new_customer_session_path, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                  ログイン
                <% end %>
                </li>
                 <li class="mr-2">
                  <%= link_to customers_guest_sign_in_path, method: :post, class: "login nav-link btn btn-outline-secondary text-dark btn-sm" do %>
                  ゲストログイン（閲覧用）
                <% end %>
                </li>
                </div>
                
                <% end %>
                <% end %>
            </div>
          </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="py-3 text-white mt-5" style="background-color:#444444;">
      <div class="container">
        <div class="row">
          <div class="col-1 d-flex align-items-center">
            <%= link_to root_path, class: "text-light" do %>
              <h2 class="footer-logo">PhotoComyu</h2>
            <% end %>
          </div>
          <div class="col">
            <div class="text-right row">
              <% if admin_signed_in? %>
                <div class="col-12 col-md-2">
                  <%= link_to "トップ", root_path, class: "text-light" %>
                </div>
                <div class="col-12 col-md-2">
                  <%= link_to "投稿一覧", admin_photos_path, class: "text-light" %>
                </div>
                <div class="col-12 col-md-2">
                　<%= link_to "カテゴリー", admin_categories_path, class: "text-light" %>
                </div>
                <div class="col-12 col-md-2">
                  <%= link_to "ユーザー", admin_customers_path, class: "text-light" %>
                </div>
                <div class="col-12 col-md-2">
                  <%= link_to "about", about_path, class: "text-light" %>
                </div>
              <% else %>
              <% if customer_signed_in? %>
                <div class="col-12 col-md-2">
                  <%= link_to "トップ", root_path, class: "text-light" %>
                </div>
                <div class="col-12 col-md-2">
                  <%= link_to "投稿一覧", photos_path, class: "text-light" %>
                </div>
                <div class="col-12 col-md-2">
                　<%= link_to "カテゴリー", categories_path, class: "text-light" %>
                </div>
                <div class="col-12 col-md-2">
                  <%= link_to "投稿する", new_photo_path, class: "text-light" %>
                </div>
                <div class="col-12 col-md-2">
                  <%= link_to "マイページ", customer_path(current_customer.id), class: "text-light" %>
                </div>
                <div class="col-12 col-md-2">
                  <%= link_to "about", about_path, class: "text-light" %>
                </div>
              <% else %>
                <div class="col-12 col-md-2">
                  <%= link_to "トップ", root_path, class: "text-light" %>
                </div>
                <div class="col-12 col-md-2">
                  <%= link_to "新規登録", new_customer_registration_path, class: "text-light" %>
                </div>
                <div class="col-12 col-md-2">
                  <%= link_to "ログイン", new_customer_session_path, class: "text-light" %>
                </div>
                <div class="col-12 col-md-2">
                  <%= link_to "about", about_path, class: "text-light" %>
                </div>
              <% end %>
              <% end %>
            </div>
            <div class="row">
              <div class="offset-8 col-2 mt-3">
                <%= link_to 'https://www.twitter.com/@ratatosuku001' do %>
                  <%= image_tag 'twitter.png', width: '40px', height: '40px' %>
                <% end %>
              </div>
              <div class="col-1 mt-3">
                <%= link_to 'https://www.instagram.com/naotopia' do %>
                  <%= image_tag 'insta-fu.png', width: '40px', height: '40px' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="fbody py-1 text-center text-secondary" style="background-color:#111111;">
      <p>© 2023,PHOTOCOMYU, © 2023 naoyaPF Japan</p>
    </fbody>
  </body>
</html>
