<!DOCTYPE html>
<html>
  <head>
    <title>Photocomyu2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border border-bottom">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/"><span><%= image_tag 'logo.jpg', width: '150px', height: '120px' %> </span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto ">
              <% if admin_signed_in? %>
              <li class="mr-2">
                <%= link_to admin_photos_path, class: 'nav-link btn btn-outline-secondary text-dark' do %>
                投稿一覧
                <% end %>
              </li>
              <li class="mr-2">
                <%= link_to admin_customers_path, class: 'nav-link btn btn-outline-secondary text-dark' do %>
                ユーザー
                <% end %>
              </li>
              <li class="mr-2">
                <%= link_to new_admin_category_path, class: 'nav-link btn btn-outline-secondary text-dark' do %>
                カテゴリー追加
                <% end %>
              </li>
              <li class="mr-2">
                <%= link_to admin_categories_path, class: 'nav-link btn btn-outline-secondary text-dark' do %>
                カテゴリー
                <% end %>
              </li>
              <li>
                <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link btn btn-outline-secondary text-dark' do %>
                管理者ログアウト
                <% end %>
              </li>
              <%= render 'public/searches/search' %>
              
              
              <% else %>
              <% if customer_signed_in? %>
              <li class="mr-2">
                <%= link_to customer_path(current_customer.id), class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                マイページ
                <% end %>
              </li>
              <li class="mr-2">
                <%= link_to customers_path, class: 'nav-link btn btn-outline-secondary text-dark' do %>
                ユーザー
                <% end %>
              </li>
              <li class="mr-2">
                <%= link_to photos_path, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                投稿一覧
                <% end %>
              </li>
              <li class="mr-2">
                <%= link_to categories_path, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                カテゴリー
                <% end %>
              </li>
              <li class="mr-2">
                <%= link_to new_photo_path, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                投稿する
                <% end %>
              </li>

              <li class="mr-2">
                <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                ログアウト
                <% end %>
              </li>
              <li class="mr-2">
                <%= link_to customers_unsubscribe_path, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                退会
                <% end %>
              </li>
            
            

            
               
              <%= render 'public/searches/search' %>
              
               

              <% else %>
              <li class="mr-2">
                <%= link_to new_customer_registration_path, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
              　新規登録
                <% end %>
              </li>
              <li class="mr-2">
                <%= link_to new_customer_session_path, class: 'nav-link btn btn-outline-secondary text-dark btn-sm' do %>
                ログイン
              <% end %>
              </li>
               <li class="mr-2">
                <%= link_to customers_guest_sign_in_path, method: :post, class: "login nav-link btn btn-outline-secondary text-dark btn-sm" do %>
                ゲストログイン（閲覧用）
              <% end %>
              </li>
              <%= render 'public/searches/search' %>
              <% end %>
              <% end %>
    </header>
    <%= yield %>
  </body>
</html>
